header nav ul{
 border: 1px;  solid 
 border-radius: 10px 5px;
}
main{
    display: flex;
}
main{
    flex-direction:row ;
    flex: auto;
}


.container{
    
}

.article,article{border: skyblue 1px solid;
    flex: 2;
    overflow-y: auto;
    

}
.aside aside{ border: 1px solid;
    flex: 1;
    overflow-y: auto;

}

footer,p{border: 2px solid skyblue
    
}